@{
    ViewData["Title"] = "Home";
}

<!-- Hero Section -->
<div class="container-fluid bg-gradient bg-info text-white py-3 mt-3 rounded-3 shadow " >
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 fw-bold">Welcome to Order Accessories</h1>
            <p class="lead">Discover and order your favorite accessory with ease</p>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn  btn-lg mt-2 shadow bg-primary text-white">
                <i class="bi bi-box-arrow-in-right me-2 "></i>Start Ordering Accessories
            </a>
        </div>
    </div>
</div>

<!-- Explore Section -->
<div class="container py-2 mt-3 rounded-3 shadow bg-danger-subtle">
    <h2 class="text-center mb-2 fw-semibold text-muted" style="font-family: 'Georgia', serif;">Explore Accessories</h2>
    <div class="row g-4">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100 border-0 hover-shadow shadow">
                <img src="~/images/Necklaces_and_earrings1.jpg" asp-append-version="true" class="card-img-top rounded-top" alt="Appetizers">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Necklaces and earrings</h5>
                    <p class="card-text text-muted">Start earrings and necklaces with quick and easy ideas</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100 border-0 hover-shadow shadow">
                <img src="~/images/Hats_and_scarves2.jpg" asp-append-version="true" class="card-img-top rounded-top" alt="Main Dishes">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Hats and scarves</h5>
                    <p class="card-text text-muted">Try hats and scarves from traditional classics to modern favorites.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100 border-0 hover-shadow shadow">
                <img src="~/images/Bags_and_purses1.jpg" asp-append-version="true" class="card-img-top rounded-top" alt="Desserts">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">Bags and purses</h5>
                    <p class="card-text text-muted">Treat yourself to bags and purses for every occasion.</p>
                </div>
            </div>
        </div>
    </div>
</div>
