

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccessoriesApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AccessoriesApp.Web.styles.css" asp-append-version="true" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" />                
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

    <link href="~/js/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />


    <style>
        .quantity-input {
            font-size: 1.1rem;
            padding: 0.4rem;
            border-radius: 0.5rem;
        }

        /*
        .btn-minus, .btn-plus {
            width: 40px;
            height: 40px;
            font-size: 1.25rem;
            border-radius: 0.5rem;
        }
        */

    .btn-minus {
     font-weight: bold;
     font-size: 20px;
    }

    .btn-plus {
        font-weight: bold;
        font-size: 20px;
    }

    .mydatepicker {
      text-align: center;
      color: red;
    }


    </style>

</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">                        
                        <i class="fa-solid fa-hat-cowboy-side"></i> Оur Аccessories
                        <span class="visually-hidden">(current)</span>
                    </a>
                }
                else
                {
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">                        
                        <i class="fa-solid fa-hat-cowboy-side"></i> Оur Аccessories
                        <span class="visually-hidden">(current)</span>
                    </a>
                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">                            
                              <a class="nav-link active" asp-controller="Home" asp-action="Index">
                                   <i class="fas fa-home"></i> Home
                              </a>                            
                        </li>

                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Accessories</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Accessories" asp-action="Index" asp-route-id="0">
                                        <i class="fas fa-list"></i> All Accessories
                                    </a>
                                   
                                    @await Component.InvokeAsync("CategoryDropdown")
                                    
                                    <!--
                                    <div class="dropdown-divider"></div>      
                                    -->
                                </div>
                        </li>

                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {                            

                            @if (!User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Favorites" asp-action="GetAllFavorites">
                                        <i class="fas fa-heart"></i> Favorites
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="OrderItem" asp-action="Index">
                                        <i class="fa-solid fa-cart-shopping"></i> Shopping cart
                                    </a>
                                </li>

                                <!--
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Order" asp-action="ConfirmedHistory">
                                        <i class="fa-solid fa-clock-rotate-left"></i> Order history
                                    </a>
                                </li>
                                -->
                                <li class="nav-item d-flex align-items-center">
                                <form asp-controller="Order" asp-action="ConfirmedHistory" method="post" class="d-inline py-2">
                                    <button type="submit" class="nav-link btn btn-link p-0 border-0" style="text-decoration: none;">
                                        <i class="fa-solid fa-clock-rotate-left"></i> Order history
                                    </button>
                                </form>
                                </li>

                            }

                            @if (User.IsInRole("Admin"))
                            {
                            /*
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="AssignRole">
                                    <i class="fa-solid fa-user-tie"></i> Admin
                                </a>
                            </li>
                            */

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user-tie"></i> Admin</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="AssignRole">
                                         Assign Roles
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Accessories" asp-action="Add">
                                        <i class="fas fa-plus"></i> Add Accessory
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Categories" asp-action="MyAllCategories">
                                        <i class="fa-solid fa-layer-group"></i> Add Category
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item d-flex align-items-center">
                                <form asp-controller="Order" asp-action="ConfirmedHistory" method="post" class="d-inline py-2">
                                    <button type="submit" class="nav-link btn btn-link p-0 border-0" style="text-decoration: none;">
                                        <i class="fa-solid fa-chart-column"></i> Order statistics
                                    </button>
                                </form>
                                </li>
                            }
                        }
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AccessoriesApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>     
    <script src="~/js/bootstrap-datepicker/locales/bootstrap-datepicker.bg.min.js" charset="UTF-8"></script>

    <script>
        $(document).ready(function () {
            
            $('#File').on('change', function (event) {
                const file = event.target.files[0];

                if (file && file.type.match('image.*')) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imagePreview').attr('src', e.target.result).show();
                    };

                    reader.readAsDataURL(file);
                } else {
                    $('#imagePreview').hide();
                }
            });

          
          $('.quantity-input').on('input', function () {
          const quantity = parseInt($(this).val());
          const productId = parseInt($(this).data('product-id'));
          const orderid = parseInt($(this).data('order-id'));

          const model = {
            Id: productId,
            Quantity: quantity,
            OrderId: orderid
          };

          //alert(JSON.stringify(model));

          //alert(model.Id);
          //alert(model.Quantity);
          //alert(model.OrderId);

          
          $.ajax({
            url: '/OrderItem/EditFromBody',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(model),
            success: function (response) {
              //console.log('Server response:', response);
              //alert(response.mytotalbgn);
              //alert(JSON.stringify(response));
              $('#mytotal').text(response.mytotalbgn);
            },
            error: function (xhr, status, error) {
              //console.error('Error:', error);
              console.log("AJAX Error:", xhr.responseText); // Show error response from the backend
            }
          });          

        });

                

         $('.btn-minus').on('click', function () {
          const $input = $(this).next('input');           
          let value = parseInt($input.val());          
          if (value > 1) {
            $input.val(value - 1);
          }
          $input.trigger('input');   // triggers input event
        });

        

        $('.btn-plus').on('click', function () {            
          const $input = $(this).prev('input');                  
          let value = parseInt($input.val());          
          $input.val(value + 1);   
          $input.trigger('input');   // triggers input event
        });        

        
        $(function () {
                $(".mydatepicker").datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    //format: 'dd.mm.yyyy',
                    //language: 'bg-BG',
                    format: 'yyyy-mm-dd',
                    weekStart: 1,
                });
            });
            

        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
